@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Wat Jibts";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/menu-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/body-style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="">
            <div class="navbar">
                <div class="container nav-container">
                    <input class="nav-menu" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                            <span class="line line1"></span>
                            <span class="line line2 middle-line"></span>
                            <span class="line line3 middle-line"></span>
                            <span class="line line4 middle-line"></span>
                            <span class="line line5"></span>
                    </div>  
                    <div class="logo">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index"><h1>WatJibts</h1></a>
                    </div>
                    <div class="menu-item-container">
                        <div class="menu-items">
                            <h1>WatJibts</h1>
                            <li class="">
                                <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="">
                                <a class="" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="">
                                <a class="" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="">
                                    <a class="" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
                                </li>
                                <li class="">
                                    <a class="" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                </li>
                                <li>
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                    </form>
                                </li>
                            }
                            <li class="">
                                <a class="" asp-area="" asp-controller="Home" asp-action="Impressum">Impressum</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            <div class="body-container">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="">
        <div class="">
            &copy; 2023 - src - <a asp-area="" asp-controller="Home" asp-action="Impressum">Impressum</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
