@page
@model RegisterConfirmationModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localizer> l

@{
    ViewData["Title"] = @l["register_heading"];
}

<h1>
    @ViewData["Title"]
</h1>

<p>
    @l["check_mail"]
</p>

