$color-bg-light: #E8C382;
$color-bg-dark: #A9853B;

$color-font: #120B04;

$color-success-light: #87C63A;
$color-success-dark: #3D5D14;

$color-highlight-light:#F2CF50;
$color-highlight-dark: #C49F2E;

$color-warning-light: #AF4519;
$color-warning-dark: #A33A0E;

html {
    background-color: $color-bg-light;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: $color-bg-dark;
}

footer {
    background-color: $color-bg-dark;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}