@import "basics.scss";

legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea {
  background-color: black;
  color: white;
// box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

.additional-lunchtime-info-wrapper {
    width: 100%;
    margin: 25px auto;
}

summary:hover {
    cursor: pointer
}

input:focus,
select:focus,
textarea:focus {
  background-color: black;
  color: white;
box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

textarea {
    min-height: 10rem;
}

.line {
    stroke: $color-glow;
    stroke-width: 2;
    fill: $color-glow;
}

input[type="checkbox"] {
    height: 50px;
    width: 50px;
    border: solid 2px white;
}

input [type="checkbox"]:focus {
    box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

.lunchtime-details {
    // @extend .table-wrapper;
    display: none;
}

.participating-wrapper input[type="checkbox"]:checked + .lunchtime-details {
    display: flex !important;
}

input[type="checkbox"]:checked {
    background: $color-header-secondary;
}

select {
    background: url("../assets/img/arrow-down.png") no-repeat center right 0.75rem;
}

.body-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

input, select {
    background: $color-bg-dark;
    color: $color-font;

    // min-width:44px;
    height: 75px;
    box-sizing: border-box;
    padding: 10px;
    margin:10px;
    text-align: center;

    font-size:1rem; 
}

.custom-input {
    background: none;
    color: $color-font;
    padding: 8px;
    min-width:44px;
    min-height:44px;
    padding: 8px;
    font-size:1rem;
    background-color: none;
    color: white;
    box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px  white, 0 0 27px  white;
}

button {
    color: $color-font;
    background:none;
    border: solid 2px $color-glow;
    
    min-width:44px;
    min-height:44px;
    padding: 8px;
    font-size:1rem;

    text-shadow:
    0 0 4px $color-header-primary,
    0 0 11px $color-header-primary,
    0 0 17px $color-header-primary,
    0 0 23px $color-glow,
    0 0 27px $color-glow,
    0 0 33px $color-glow,
}

button:hover {
    cursor: pointer;
}

.submit-button {
    input {
        height: auto;
    }
}

.text-wrapper {
    text-align:left;
}



.form-field {
    position: relative;

    .form-label {
        position: absolute;
        top:0%;

        min-width: 100px;
        padding: 5px;

        background: $color-bg-dark;
        border: solid 2px;
        border-radius: 0;
    }

    .form-checkbox-label {
        @extend .form-label;
        left: 50%;
    }
    
    .form-control {

    }

    .form-error {
        
    }

    .form-select select option {

        background-color: $color-bg-light;
        background-color: $color-glow;
    }
}

.table-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    
    .table-item {
        flex: 1 1 auto;
        // border: solid 2px white;
        margin: 10px;
        padding: 10px;
        box-shadow: 0 3px 4px 0 #E200F7;
    }
}

.refdata-head {
    a {
        // position: absolute;
        // right: 20px;
        // bottom: 75px;

        width: 55px;
        font-size: 50px;
        text-decoration: none;
        
        // border: 2px solid white;
        // background: black;
    }
}

.form-field.table-item {
    border: none !important;
}

.lunchtime-wrapper {

    @extend .table-wrapper;
    // display: flex;
    // flex-wrap: wrap;

    .lunchtime-card {

        @extend .table-item;

        // margin: 10px;
        // padding: 10px;
        
        .lunchtime-users {

        }

        .lunchtime-time {

        }

        .lunchtime-places {

        }
    }
}

details {
    padding: 10px;
}

summary {
    padding: 10px;
}

.profile-lunchtime-wrapper {
    margin: 15px;
    box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

.lunchtime-form {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 3px 4px 0 $color-header-primary;
}

.lunchtime-wrapper-today {
    .profile-lunchtime-wrapper {
        box-shadow: 0 0 4px $color-header-secondary, 0 0 11px $color-header-secondary, 0 0 17px $color-header-secondary, 0 0 23px white, 0 0 27px white, 0 0 33px white;
        
        .lunchtime-form {
            box-shadow: 0 3px 4px 0 $color-header-secondary;
        }
    }
}

.form-horizontal {
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 600px)
{
    .form-horizontal {
        display: flex;
    }
}

@media (max-width: 400px) {
    details .table-wrapper .form-field{
        margin-left: -10px;
    }
}