.body-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.form-container {
    .form-field {
        
        .form-label {

        }
        
        .form-control {

        }

        .form-error {
            
        }
    }
}