@import "basics.scss";

legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea {
  background-color: black;
  color: white;
box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

textarea {
    min-height: 10rem;
}

.line {
    stroke: $color-glow;
    stroke-width: 2;
    fill: $color-glow;
}

input[type="checkbox"]:checked {
    background: white;
    background: white;
box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

input[type="checkbox"]:checked {
    background: white;
}

select {
    background: url("images/down-arrow.svg") no-repeat center right 0.75rem;
    // min-width:200px;
    min-height:44px;
}

.body-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

input, select {
    background: $color-bg-dark;
    color: $color-font;

    // min-width:44px;
    min-height:44px;
    padding: 10px;
    margin:10px;
    text-align: center;

    font-size:1rem; 
}

.custom-input {
    background: none;
    color: $color-font;
    padding: 8px;
    min-width:44px;
    min-height:44px;
    padding: 8px;
    font-size:1rem;
    background-color: none;
    color: white;
    box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px  white, 0 0 27px  white;
}

button {
    color: $color-font;
    background:none;
    border: solid 2px $color-glow;
    
    min-width:44px;
    min-height:44px;
    padding: 8px;
    font-size:1rem;

    text-shadow:
    0 0 4px $color-header-primary,
    0 0 11px $color-header-primary,
    0 0 17px $color-header-primary,
    0 0 23px $color-glow,
    0 0 27px $color-glow,
    0 0 33px $color-glow,
}

button:hover {
    cursor: pointer;
}

.text-wrapper {
    text-align:left;
}

.form-horizontal {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
}

.form-field {
    position: relative;

    .form-label {
        position: absolute;
        top:0%;

        min-width: 100px;
        padding: 5px;

        background: $color-bg-dark;
        border: solid 1px;
        border-radius: 0;
    }
    
    .form-control {

    }

    .form-error {
        
    }

    .form-select select option {

        background-color: $color-bg-light;
        background-color: $color-glow;
    }
}

.table-wrapper {
    
    display: flex;
    flex-wrap: wrap;
    
    .table-item {
        flex: 1 1 auto;
    }
}