@import "basics.scss";

.container {
    max-width: 1050px;
    margin: auto;
}

.navbar {
    width: 100%;
    
    .logo {
        position: absolute;
        top: -10px;
        left: 60px;
        
        a {
            padding: 0 !important;
        }
    }

    .menu-item-container {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0px;
        right: 0;
        transform: translate(-100%);
        transition: transform 0.5s ease-in-out;
        background: $color-bg-dark;
        z-index: 1;
        
        .menu-items {
            max-width: 200px;
            margin: auto auto;
            display: flex;
            flex-direction: column;

            text-align: center;
            top: 20%;
            
            li {
                margin: 10px auto;
                font-size: 1.5rem;
                font-weight: 500;
            }

            menu.selected {

            }
            
            .logout-button {
                color: $color-warning-light;
                background: none;
                border: none;
                font-size: 1.2rem;
                font-family: raleway;

                text-shadow:
                // primary color
                0 0 7px $color-glow,
                // secondary color glow
                0 0 10px $color-warning-dark,
                0 0 82px $color-glow,
            }
            
            .logout-button:hover {
                color: $color-header-primary;
                cursor: pointer;
                
                text-shadow:
                // primary color
                0 0 7px $color-glow,
                // secondary color glow
                0 0 10px $color-warning-dark,
                0 0 82px $color-glow,
            }
        }
    }
  
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    
        li {
            list-style: none;
        }
        
        a {
            text-decoration: none;
            color: $color-font;
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.7rem;
        }
        
        a:hover {
            font-weight: bolder;
        }

        @mixin nav-toggle {
            position: absolute;
            display: block;
            height: 44px;
            width: 44px;
            top: 10px;
            right: 20px;
        }

        .nav-menu {
            @include nav-toggle;
            z-index: 5;
            opacity: 0;
            cursor: pointer;
        }
        
        .hamburger-lines {
            @include nav-toggle;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .line {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
            }

            .middle-line {
                margin: 1px 0 1px;
            }
            
            .line1 {
                background: $color-highlight-dark;
                
                box-shadow:
                // primary color
                0 0 7px $color-glow,
                // secondary color glow
                0 0 10px $color-highlight-dark,
                0 0 82px $color-glow,
                0 0 92px $color-glow;

                height: 9px;
                border-radius: 30px 30px 4px 4px;
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }

            .line2 {
                background: $color-success-light;
                transition: transform 0.2s ease-in-out;

                box-shadow:
                // primary color
                0 0 7px $color-success-light,
                // secondary color glow
                0 0 10px $color-highlight-dark,
                0 0 82px $color-glow,
                0 0 92px $color-glow;
            }

            .line3 {
                background: $color-highlight-light;
                transition: transform 0.2s ease-in-out;

                box-shadow:
                // primary color
                0 0 7px $color-highlight-light,
                // secondary color glow
                0 0 10px $color-highlight-light,
                0 0 82px $color-glow,
                0 0 92px $color-glow;
            }

            .line4 {
                background: $color-warning-light;
                box-shadow:
                // primary color
                0 0 7px $color-warning-light,
                // secondary color glow
                0 0 10px $color-glow,
                0 0 82px $color-glow;

                transition: transform 0.2s ease-in-out;
            }
          
            .line5 {
                background: $color-highlight-dark;
                box-shadow:
                // primary color
                0 0 7px $color-highlight-dark,
                // secondary color glow
                0 0 5px $color-glow;

                height: 4px;
                border-radius: 2px 2px 10px 10px;
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }

        }

        input[type="checkbox"]:checked ~ .menu-item-container {
            transform: translateX(0);
        }
          
        // input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        //     transform: rotate(45deg) scaleX(1.1);
        //     border-radius: 50%;
        //     height: 5px;
        // }
          
        input[type="checkbox"]:checked ~ .hamburger-lines {
            justify-content: space-between;
        }
          
        // input[type="checkbox"]:checked ~ .hamburger-lines .line5 {
        //     transform: rotate(-45deg) scaleX(1.1);
        //     border-radius: 50%;
        //     height: 5px;
        // }
          
        // input[type="checkbox"]:checked ~ .logo{
        //     transform: scaleY(0);
        // }
    }
}

@media (min-width: 768px) {

}
