@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<form method="post">
  <label for="name">Name:</label>
  <br>
  <input type="text" id="fname" name="fname" value="Name">
  <br>

  <label for="author">Author</label>
  <br>
  <input type="text" id="author" name="lname" value="Author">
  <br>

  <label for="isbn">ISBN</label>
  <br>
  <input type="number" id="isbn" name="lname" value="0">
  <br>

  <label for="erscheinungsjahr">Erscheinungsjahr</label>
  <br>
  <input type="number" id="erscheinungsjahr" value="0">
  <br>

  <label for="auflage">Auflage</label>
  <br>
  <input type="number" id="auflage" value="0">
  <br>
  
  <br>
  <input type="submit" value="Submit">
</form> 



</div>
