@model List<User>;

@{
    ViewData["Title"] = "User Index";
    ViewData["Active"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="table-wrapper">
    @for (int index = 0; index < Model.Count; index++)
    {
        <div class="table-item">
                <p>
                    @Model[index].UserName
                </p>
                <p>
                    @Model[index].Email
                </p>
                @Html.ActionLink("Edit", "Edit", new {user = Model[index]})
        </div>
    }
</div>

