@* @model src.Models.Location *@
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h2>Es scheint so als wären sie noch nicht angemeldet. Ohne anmeldung können sie sich</h2>
}
else
{
    <div class="user-input-container">



        <div class="time-container">
            
        </div>

            <div class="form-field">
                <label class="label">Participating</label>
                <input type="checkbox"></input>
            </div>

    </div>
}