@* @model src.Models.Location *@

<div class="user-input-container">

    <div class="time-container">
        
    </div>

        <div class="form-field">
            <label class="label">Participating</label>
            <input class="form-check-input" />

        </div>

    <input type="checkbox"></input>
</div>