@{
    ViewBag.Title = "404";
}

<h1 class="flickering-headline">404</h1>

<p>
    Die gesuchte Seite wurde nicht gefunden. 
    <br>
    Bitte überprüfen sie, ob die gesuchte URL korrekt ist.
    <br>
    Möglicherweise ist auch von Seiten des Entwicklers etwas schief gelaufen.
</p>