html {
  background-color: #110220;
  color: white;
  font-family: raleway;
  hyphens: auto;
  line-break: auto;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}

h1 {
  font-family: beonregular;
  color: #08E8DE;
}

h1:not(.flickering-headline) {
  animation: pulsate-secundary 2.5s infinite alternate;
  text-shadow: 0 0 7px #08E8DE, 0 0 10px #08E8DE, 0 0 21px #08E8DE, 0 0 42px white, 0 0 82px white;
}

.flickering-headline {
  color: white;
  animation: flicker 1.5s infinite alternate;
}

a {
  color: white;
  text-shadow: 0 0 4px #E200F7, 0 0 23px white;
}

.menu-items a {
  text-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

a.selected {
  color: #08E8DE !important;
  text-shadow: 0 0 7px #08E8DE, 0 0 10px #08E8DE, 0 0 21px #08E8DE, 0 0 34px white, 0 0 42px white;
}

a:hover {
  color: #E200F7 !important;
  text-shadow: 0 0 7px white, 0 0 10px white, 0 0 21px white;
}

label {
  color: white;
}

hr {
  color: white;
}

.link-red a {
  color: #FF321A !important;
  text-shadow: 0 0 4px #b55f5f, 0 0 23px white;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 19px #E200F7, 0 0 40px white, 0 0 80px white, 0 0 100px white, 0 0 150px white;
  }
  0% {
    text-shadow: 0 0 2px #E200F7, 0 0 4px #E200F7, 0 0 6px #E200F7, 0 0 10px white, 0 0 45px white, 0 0 55px white, 0 0 70px white, 0 0 80px white;
  }
}
@keyframes pulsate-secundary {
  100% {
    text-shadow: 0 0 4px #08E8DE, 0 0 11px #08E8DE, 0 0 19px #08E8DE, 0 0 40px white, 0 0 80px white, 0 0 100px white, 0 0 150px white;
  }
  0% {
    text-shadow: 0 0 2px #08E8DE, 0 0 4px #08E8DE, 0 0 6px #08E8DE, 0 0 10px white, 0 0 45px white, 0 0 55px white, 0 0 70px white, 0 0 80px white;
  }
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 19px #E200F7, 0 0 40px white, 0 0 80px white, 0 0 90px white, 0 0 100px white, 0 0 150px white;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@font-face {
  font-family: "beonregular";
  src: url("../assets/font/Beon-Regular.ttf") format("truetype"), url("../assets/font/Beon-Regular.woff") format("woff"), url("../assets/font/Beon-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "raleway";
  src: url("../assets/font/Raleway-Regular.ttf") format("truetype"), url("../assets/font/Raleway-Regular.woff") format("woff"), url("../assets/font/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea {
  background-color: black;
  color: white;
}

.additional-lunchtime-info-wrapper {
  width: 100%;
  margin: 25px auto;
}

summary:hover {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
  background-color: black;
  color: white;
  box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

textarea {
  min-height: 10rem;
}

.line {
  stroke: white;
  stroke-width: 2;
  fill: white;
}

input[type=checkbox] {
  height: 50px;
  width: 50px;
  border: solid 1px white;
}

input [type=checkbox]:focus {
  box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

.lunchtime-details {
  display: none;
}

.participating-wrapper input[type=checkbox]:checked + .lunchtime-details {
  display: flex !important;
}

input[type=checkbox]:checked {
  background: white;
}

select {
  background: url("../assets/img/arrow-down.png") no-repeat center right 0.75rem;
}

.body-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

input, select {
  background: black;
  color: white;
  height: 75px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 1rem;
}

.custom-input {
  background: none;
  color: white;
  padding: 8px;
  min-width: 44px;
  min-height: 44px;
  padding: 8px;
  font-size: 1rem;
  background-color: none;
  color: white;
  box-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px white, 0 0 27px white;
}

button {
  color: white;
  background: none;
  border: solid 2px white;
  min-width: 44px;
  min-height: 44px;
  padding: 8px;
  font-size: 1rem;
  text-shadow: 0 0 4px #E200F7, 0 0 11px #E200F7, 0 0 17px #E200F7, 0 0 23px white, 0 0 27px white, 0 0 33px white;
}

button:hover {
  cursor: pointer;
}

.submit-button input {
  height: auto;
}

.text-wrapper {
  text-align: left;
}

.form-horizontal {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.form-field {
  position: relative;
}
.form-field .form-label, .form-field .form-checkbox-label {
  position: absolute;
  top: 0%;
  min-width: 100px;
  padding: 5px;
  background: black;
  border: solid 1px;
  border-radius: 0;
}
.form-field .form-checkbox-label {
  left: 35%;
}
.form-field .form-select select option {
  background-color: #110220;
  background-color: white;
}

.table-wrapper, .lunchtime-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  border: solid 1px;
}
.table-wrapper .table-item, .lunchtime-wrapper .table-item, .lunchtime-wrapper .lunchtime-card {
  flex: 1 1 auto;
  border: solid 2px white;
  margin: 10px;
  padding: 10px;
}

.refdata-head a {
  width: 55px;
  font-size: 50px;
  text-decoration: none;
}

.form-field.table-item, .lunchtime-wrapper .form-field.lunchtime-card {
  border: none !important;
}

/*# sourceMappingURL=body-style.css.map */
